# Maven
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz
install/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.classpath
.project
.settings/
bin/
.metadata/

# Visual Studio Code
.vscode/
*.code-workspace

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temp
tmp/
*.tmp
*.bak
*.swp
